{% include "sitio/cabecera.html" %}


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Nosotros</h4>
        <p class="card-body">Nosotros nos empeñamos para poder darles recetas de su agrado para que siempre todos nuestros clientes puedan lucirse con recetas unicas para que asombres a tus amigos u/o familiares viendo como haces recetas naturales super elaboradas o tambien no tan elaboradas y saludables para todos</p>
        </div>
        <img with="800px" class="card-img-top" src="https://cdn.pixabay.com/photo/2016/11/18/00/32/programming-1833058_640.png" alt="Title" />
    </div>



{% include "sitio/pie.html" %}